.aside-menu {

    /* background-color: blue; */
    @apply p-3;

    h3 {
        @apply font-montserrat font-bold;
        font-size: 14px;
    }

    .aside-link{
        @apply font-montserrat font-medium flex items-center ;
        font-size: 15px;

    

        svg{
            stroke: theme("colors.body.100");
            @apply mr-2;
            path{
                stroke: theme("colors.body.100");
            }

        }

        span{
            @apply border-b border-b-transparent;
        }

        &:hover{
            span{
                /* background-color: red; */
                @apply border-b-body-100
            
            }
        }
    }
}